<ion-content>
    <div class="translate-modal">
        <div class="translate-modal__container">
            <div class="translate-modal__text">
                Повседневная практика показывает, что постоянный количественный рост ...
            </div>
            <div class="translate-modal__btn">
                <img src="assets/icon/">
            </div>
            <div class="translate-modal__btn">
                <img src="assets/icon/ic_logout.svg">
            </div>
            <div class="translate-modal__btn">
                <img src="assets/icon/ic_logout.svg">
            </div>
        </div>
    </div>
</ion-content>
