<div class="translate-modal" *ngIf="!isFullScreen">
    <div class="translate-modal__container-">
        <div class="translate-modal__text-container" #host>
            <span class="translate-modal__text" fittext [container]="host" [maxFontSize]="72" [minFontSize]="24">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corporis dolor eligendi facere fuga harum magni nostrum quis ut voluptatum.
            </span>
        </div>
        
        <div class="translate-modal__icon-container">
            <div>
                <img src="assets/icon/volume-up.svg">
            </div>
            <div class="translate-modal__btn-right">
                <div class="btn-right__btn" (click)="onFullScreenClick()">
                    <img src="assets/icon/full-screen.svg">
                </div>
                <div class="btn-right__btn">
                    <img src="assets/icon/microphone.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="translate-modal-full" *ngIf="isFullScreen">
    <div class="translate-modal-full__container">
        <div class="translate-modal-full__text-container" #host>
            <div class="text-container__cross" (click)="onCrossClick()">
                <img src="assets/icon/cross.svg">
            </div>
            <div class="translate-modal-full__bottom">
                <span class="translate-modal-full__text" fittext [container]="host" [maxFontSize]="72" [minFontSize]="32">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corporis dolor eligendi facere fuga harum magni nostrum quis ut voluptatum.
                </span>
                <div class="translate-modal-full__microphone">
                    <img src="assets/icon/microphone.svg">
                </div>
            </div>
        
        </div>
    </div>
</div>
