<ion-content class="ion-padding">
    <div [ngStyle]="{'display' :  currentBreakPoint === 1 ? 'none': 'flex' }"
         class="main-page__container">
        <ng-container *ngIf="rtcService.videoStream$ | async as stream; else loader">
          <video id="video"
                 class="main-page__video"

                 autoplay="true" playsinline="true"
                 [srcObject]="stream"
          >
          </video>
        </ng-container>
      <ng-template #loader>
        <app-loader style="margin-top: 10%"></app-loader>
      </ng-template>
    </div>
    <ion-modal
        class="translate-modal"
        (ionBreakpointDidChange)="checkBreakpoint($event)"
        [isOpen]="isModalOpen"
        [mode]="'ios'"
        [initialBreakpoint]="0.3"
        [breakpoints]="[0.3, 1]"
        [canDismiss]="false"
    >
        <ng-template>
            <app-swipe-modal
                [modalBreakPoint]="currentBreakPoint"
                [modal]="modal"
            >
            </app-swipe-modal>
        </ng-template>
    </ion-modal>
</ion-content>
