<video id="video" [ngStyle]="{ height: '100vh', width: '100vw' }"
       autoplay="true" playsinline="true"
       [srcObject]="rtcService.videoStream$ | async"
>

</video>

<ion-content class="ion-padding">
    <ion-modal
        class="translate-modal"
        (ionBreakpointDidChange)="checkBreakpoint($event)"
        [isOpen]="isModalOpen"
        [initialBreakpoint]="0.3"
        [breakpoints]="[0.3, 1]"
        [canDismiss]="false"
    >
        <ng-template>
            <app-swipe-modal></app-swipe-modal>
        </ng-template>
    </ion-modal>
</ion-content>
