@use 'global.master' as styles;

.main-page {
    &__layout {
        height: 100%;
        width: 100%;
    }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__video {
    height: 100vh;
    width: 100vw;

    &_blur {
      -o-filter: blur(15px);
      filter: blur(15px);
      object-fit: cover;
      transform: scale(1.04);
      position: absolute;
      z-index: -1;
    }
  }
}

.translate-modal {
    --width: 80% !important;
}
