@use 'global.master' as *;


.translate-modal {
    display: flex;
    flex-direction: column;
    margin: $spacing-4xl $spacing-xl;

    &__icon-container {
        display: flex;
    }

    &__text-container {
        height: 14vh;
        display: flex;
        flex-direction: column;
    }

    &__text {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0;
    }

    &__icon-container {
        display: flex;
        justify-content: space-between;
        margin-top: $spacing-2xl;
    }

    &__btn-right {
        display: flex;
    }
}

.btn-right {
    &__btn {
        &:not(:last-child) {
            margin-right: $spacing-xl;
        }
    }
}

.text-container {
    &__cross {
        display: flex;
        flex-direction: row-reverse;
    }
}


.translate-modal-full {
    display: flex;
    flex-direction: column;
    margin: $spacing-4xl $spacing-xl;

    &__text {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0;
        height: 60vh;
        margin-top: 32px;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
    }

    &__text-container {
        padding: 10px;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__microphone {
        & img {
            width: 64px;
        }
    }
}
