@use 'global.master' as styles;

.translate-modal {
  display: flex;
  flex-direction: column;
  margin: styles.$spacing-4xl;

  &__text-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__icon-container {
    align-self: end;
    display: grid;
    grid-template-columns: 83% auto auto;

    &_isHide {
      display: none;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
  }

  &__btn {
    align-self: start;
    color: styles.$primary;
  }
}
