@use 'global.master' as *;


.translate-modal {
    display: flex;
    flex-direction: column;
    margin: $spacing-4xl $spacing-xl;

    &__icon-container {
        display: flex;
    }

    &__text-container {
        height: 15vh;
    }

    &__text {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0;
    }

    &__icon-container {
        display: flex;
        justify-content: space-between;
        margin-top: $spacing-2xl;
    }

    &__btn-right {
        display: flex;
    }
}

.btn-right {
    &__btn {
        &:not(:last-child) {
            margin-right: $spacing-xl;
        }
    }
}
